.theme-dark .markdown-reading-view  code {
    /* color: rgb(162, 232, 241); */
    /* color: var(--yellow); */
    /* color: var(--quote-color); */
    /* color: var(--color-cyan); */
    color: var(--tag-background-color-l);
}

.markdown-source-view {
    --code-normal: rgb(243, 243, 243);
}

.theme-dark .markdown-source-view,.theme-light .markdown-source-view {
    --code-normal: rgb(114, 114, 114);
}
