body {
    --font-smallest: 0.8em;
    /* --font-smaller: 0.875em; */
    --font-smaller: 0.775em;
    --font-small: 0.933em;
}

.markdown-rendered  pre {
    --code-white-space: preserve nowrap;
    white-space: var(--code-white-space);
}

.markdown-rendered pre:has([class*="language-"]) > code {
    /* white-space: pre; */
    white-space: preserve nowrap;
}

.markdown-reading-view code {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--code-size);
}

.markdown-reading-view pre:not(:has([class*="language-"])) > code {
    --line-height-normal: 0.5rem;
    line-height: var(--line-height-normal);
    /* background: white; */
}

.markdown-reading-view pre button.copy-code-button {
    cursor: pointer;
    position: absolute;
    right: 0em;
}

.theme-dark .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    --code-normal: white;
    --code-keyword: aqua;
    --code-value: white;
    white-space: preserve nowrap;
}

/* div.cm-content.cm-lineWrapping .markdown-source-view .cm-line.HyperMD-codeblock {
    background: #a80d0d;
    color: #a80d0d;
}  */



/* .markdown-source-view .cm-line.HyperMD-codeblock {
    background: #a80d0d;
    color: #a80d0d;
    white-space: preserve nowrap; 
    overflow-x:  scroll;
}  */

/* .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock > * {
    background: blue;
    white-space: preserve nowrap;
    overflow-x: auto;
    display: inline-block;
} */
