body {
    --code-height: 30rem;
    --MB_overflow-x : hidden;
    --MB_overflow-y : scroll;
}

/* for specific language

.markdown-rendered pre:has([class*="language-"]) > code {
    max-height: var(--code-height);
    overflow-x: var(--MB_overflow-x);
    overflow-y: var(--MB_overflow-y);
}

.markdown-rendered pre:not(:has([class*="language-"])) > code {
    max-height: var(--code-height);
    overflow-x: var(--MB_overflow-x);
    overflow-y: var(--MB_overflow-y);
}

.markdown-rendered pre:has([class*="language-"]) > code {
    overflow-x: auto;
}

.markdown-rendered pre:not(:has([class*="language-"])) > code {
    overflow-x: auto;
}

*/

.markdown-rendered pre:has(code) {
    max-height: var(--code-height);
    overflow-x: var(--MB_overflow-x);
    overflow-y: var(--MB_overflow-y);
}

.markdown-rendered pre:has(code):hover {
    overflow-x: auto;
}