.theme-light {
    /* --code-normal: white; */
    --background-primary: #e6e3e3;
    --background-secondary: #d8d8d8;
}

.theme-dark {
    /* --code-normal: rgb(156, 31, 31); */
    /* --code-background: rgba(23, 98, 128, 0.527); */
    --background-primary: #181818e8;
    /* --background-secondary: #1b1b1b; */
}
