body {
    /* Chonsawat Nakanam Setting
        --font-text-size: 12px !important;
        --font-monospace-override: "Courier New";
    */

    /* Obsidian Default for Code
        --font-smallest: 0.8em;
        --font-smaller: 0.875em;
        --font-small: 0.933em;
    */
    --font-smallest: 0.8em;
    --font-smaller: 0.875em;
    --font-small: 0.933em;
}

.theme-light {
    /* --code-normal: white; */
    --code-background: rgba(29, 28, 28, 0.932);
    --background-primary: #f0f0f0;
    --background-secondary: #e7e7e7;
}

.theme-dark {
    /* --code-normal: rgb(156, 31, 31); */
    /* --code-background: rgba(23, 98, 128, 0.527); */
    --background-primary: #222222;
    /* --background-secondary: #1b1b1b; */
}

.markdown-source-view {
    --code-normal: rgb(243, 243, 243);
}

.theme-dark .markdown-source-view,.theme-light .markdown-source-view {
    --code-normal: rgb(114, 114, 114);
}

.markdown-reading-view code {
    --code-white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--code-size);
}

.markdown-reading-view pre:not(:has([class*="language-"])) > code {
    --line-height-normal: 0.5rem;
    line-height: var(--line-height-normal);
    /* background: white; */
}

.markdown-reading-view pre button.copy-code-button {
    cursor: pointer;
    position: absolute;
    right: 0em;
}

.theme-dark .markdown-reading-view  code {
    color: rgb(162, 232, 241);
}

.theme-light .markdown-reading-view  code {
    color: rgb(162, 232, 241);
}


